<% layout("/layouts/boilerplate.ejs") %>
<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <div class="filters">
        <div class="tax-toggle ms-auto">
            <div class="form-check-reverse form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                />
                <label class="tax-label form-check-label">
                    Display total before taxes
                </label>
            </div>
        </div>
    </div>
    <section>
        <% for (let listing of allListings) { %>
        <div class="card">
            <a class="card-link" href="/listings/<%= listing._id %>">
                <img src="<%= listing.image.url %>" />
                <p class="loc">
                    <%= listing.location %>, <%= listing.country %>
                </p>
                <p class="title"><%= listing.title %></p>
                <p class="price">
                    <b class="post-tax">
                        $<%= listing.price.toLocaleString("en-US") %>
                    </b>
                    <b class="pre-tax">
                        $<%= Math.round((listing.price -
                        (listing.price*0.10714)) * 100) / 100 %>
                    </b>
                    month
                </p>
            </a>
        </div>
        <% } %>
    </section>

    <script src="/js/idx.js"></script>
</body>
