<% layout("/layouts/boilerplate.ejs") %>

<head>
    <link rel="stylesheet" href="/css/show.css" />
    <link href="/css/rating.css" rel="stylesheet" />
</head>

<body>
    <div class="show-container col-6 offset-3">
        <h2><%= listing.title %></h2>
        <img
            src="<%= listing.image.url %>"
            class="card-img-top show-img"
            alt="listing_image"
        />
        <div>
            <p>
                <i>Owned by: <b><%= listing.owner.username %></b></i>
            </p>
            <p class="show-p show-description"><%= listing.description %></p>
            <p class="show-p show-price">
                <b>$<%= listing.price.toLocaleString("en-US") %></b>
            </p>
            <p class="show-p show-city"><%= listing.location %></p>
            <p class="show-p show-country"><%= listing.country %></p>
            <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="show-btn">
                <a href="/listings/<%= listing._id %>/edit">
                    <button class="btn edit-btn">Edit</button>
                </a>
                <form
                    action="/listings/<%= listing._id %>?_method=DELETE"
                    method="post"
                >
                    <button class="btn btn-dark del-btn">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <hr />
        <div><%- include("../includes/review.ejs") %></div>

        <div>
            <h3>Where you'll be</h3>
            <div id="map"></div>
        </div>
    </div>
    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    </script>
    <script src="/js/map.js"></script>
</body>
