<% layout("/layouts/boilerplate.ejs") %>

<head>
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/rentalHistory.css" />
</head>

<body>
    <% if (rentals.length == 0) { %>
    <div>No Rentals</div>
    <% } else { %>
    <div>
        <% for (let rental of rentals) { %>
        <div class="rental">
            <a href="/listings/<%= rental.listing._id %>">
                <h4><%= rental.listing.title %></h4>
            </a>
            <p>
                Rented on: <% let rentDate = new Date(rental.rentalDate); %> <%=
                rentDate.toLocaleString('en-IN', { month: 'short', day:
                '2-digit', year: 'numeric' }).replace(/,/g, '') %>
            </p>
            <p>Paid: &#8377;<%= rental.amountPaid.toLocaleString("en-IN") %></p>
            <p>
                Start Date: <% let d = new Date(rental.startDate); %> <%=
                d.toLocaleString('en-IN', { month: 'short', day: '2-digit',
                year: 'numeric' }).replace(/,/g, '') %>
            </p>
            <p>Check-in Time: <%= rental.checkInTime %></p>
            <% let today = new Date();
            let startDate = new Date(rental.startDate);
            if (startDate > today) { %>
            <a href="/users/rentals/<%= rental._id %>/edit-time">
                <button class="btn mt-2">Change Check-in Time</button>
            </a>
            <% } %>
        </div>
        <% } %>
    </div>
    <% } %>
</body>
